page-edit-subscription {

  ion-content {
    margin-top: 20px;
  }

  h1 {
    color: #d90012;
    margin: 0;
    text-align: center;
  }

  .subscriptionInfo {
    margin: 47px 0 20px 0;
    font-size: 18px;
  }

  p {
    margin: 10px 0;
  }
}
